:root {
    --atime: '0s';
    --strokeWidth: 0px;
}

body {
    height: 100%;
    width: 100%;
    background-color: #333;
}

#countdown-text {
    position: absolute;
    top: 14%;
    left: 29%;
}

#play-button {
    position: absolute;
    max-width: 100px;
    max-height: 100px;
    top: 21%;
    left: 29%;
}

#countdown {
    position: relative;
    margin: 0px auto;
    margin-top: 4vh;
    height: 30vh;
    width: 100%;
    text-align: center;
    overflow: visible
}

#countdown-number {
    width: 170px;
    height: 170px;
    box-shadow: 1px 1px 11px 1px;
    border-radius: 91px;
    top: 46%;
    left: 29%;
    position: absolute;
    color: black;
    display: inline;
    line-height: 40px;
    text-align: center;
    z-index: 3;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.circle-strokes {
    overflow: visible;
    stroke-width: 0px;
    stroke-dasharray: 628;
    stroke-linecap: round;
    stroke: lightcoral;
    fill: none;
}

.svg-class {
    position: absolute;
    top: 0%;
    left: 19%;
    width: 30vh;
    height: 100%;
    transform: rotateY(0deg) rotateZ(-90deg);
    filter: drop-shadow( 0px 10px 10px rgba(0, 0, 0, 0.7));
    overflow: visible;
}


@keyframes countdown {
    from {
        stroke-dashoffset: 628;
    }

    to {
        stroke-dashoffset: 0;
    }
}
